<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promotion Page | colorrx</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-white text-white min-h-screen w-full md:max-w-[500px] mx-auto">


    <%- include('../layout/header.ejs') %>

      
    <div class="max-w-lg mx-auto space-y-4 p-4  pb-[90px]">
<div class="rounded-lg overflow-hidden shadow-xl cursor-pointer bg-[linear-gradient(90deg,#f95959_0%,#ff9a8e_100%)] border border-[#ff9a8e] w-[100%] mx-auto">

        <p class="text-sm font-semibold text-white m-2">Spin lucky wheel</p>
        <div class="relative h-40 w-full rounded-md overflow-hidden">
            <img src="b255c164-f57a-42b8-b3cb-86e9afea4031.png" 
                 alt="Spin Lucky Wheel Game" 
                 class="absolute top-0 left-0 w-full h-full object-cover opacity-90" 
                 style="max-width: 100%;">
</div>
</div>
<a href="/viprewards"  class="block">
  <div class="rounded-lg overflow-hidden shadow-xl cursor-pointer bg-[linear-gradient(90deg,#f95959_0%,#ff9a8e_100%)] border border-[#ff9a8e] w-[100%] mx-auto">
    <p class="text-sm font-semibold text-white m-2">VIP rewards</p>
    <div class="relative h-40 w-full rounded-md overflow-hidden">
      <img src="2a646fb9-e5dc-41f9-b10f-8e1885c72196.jpg" 
           alt="Spin Lucky Wheel Game" 
           class="absolute top-0 left-0 w-full h-full object-cover opacity-90" 
           style="max-width: 100%;">
    </div>
  </div>
</a>
<a href="/earnmoney"  class="block">
<div class="rounded-lg overflow-hidden shadow-xl cursor-pointer bg-[linear-gradient(90deg,#f95959_0%,#ff9a8e_100%)] border border-[#ff9a8e] w-[100%] mx-auto">

        <p class="text-sm font-semibold text-white m-2">Earn Money</p>
        <div class="relative h-40 w-full rounded-md overflow-hidden">
            <img src="abf79cfd-9fc7-4ff9-a793-bedaffd3f74f.jpg" 
                 alt="Spin Lucky Wheel Game" 
                 class="absolute top-0 left-0 w-full h-full object-cover opacity-90" 
                 style="max-width: 100%;">
</div>
</div>
    </a> 
<a href="/slotmachineextra"  class="block">
<div class="rounded-lg overflow-hidden shadow-xl cursor-pointer bg-[linear-gradient(90deg,#f95959_0%,#ff9a8e_100%)] border border-[#ff9a8e] w-[100%] mx-auto">

        <p class="text-sm font-semibold text-white m-2">Slot Machine Extra Rebate</p>
        <div class="relative h-40 w-full rounded-md overflow-hidden">
            <img src="90cf7071-5a82-44d9-831c-31b6e61247e2.png" 
                 alt="Spin Lucky Wheel Game" 
                 class="absolute top-0 left-0 w-full h-full object-cover opacity-90" 
                 style="max-width: 100%;">
</div>
</div>
    </a> 

<a href="/slotmachineweekly"  class="block">
<div class="rounded-lg overflow-hidden shadow-xl cursor-pointer bg-[linear-gradient(90deg,#f95959_0%,#ff9a8e_100%)] border border-[#ff9a8e] w-[100%] mx-auto">

        <p class="text-sm font-semibold text-white m-2">slot-machine-weekly</p>
        <div class="relative h-40 w-full rounded-md overflow-hidden">
            <img src="9932a558-0410-4eb2-a5f0-6e9e6aa20fd0.png" 
                 alt="Spin Lucky Wheel Game" 
                 class="absolute top-0 left-0 w-full h-full object-cover opacity-90" 
                 style="max-width: 100%;">
</div>
</div>

    </a> 
        </div>
        
    </div>

    <%- include('../layout/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</body>

</html>