.m-t-5 {
    margin-top: .13333rem !important
}

.p-t-5 {
    padding-top: .13333rem !important
}

.m-b-5 {
    margin-bottom: .13333rem !important
}

.p-b-5 {
    padding-bottom: .13333rem !important
}

.m-l-5 {
    margin-left: .13333rem !important
}

.p-l-5 {
    padding-left: .13333rem !important
}

.m-r-5 {
    margin-right: .13333rem !important
}

.p-r-5 {
    padding-right: .13333rem !important
}

.m-t-10 {
    margin-top: .26667rem !important
}

.p-t-10 {
    padding-top: .26667rem !important
}

.m-b-10 {
    margin-bottom: .26667rem !important
}

.p-b-10 {
    padding-bottom: .26667rem !important
}

.m-l-10 {
    margin-left: .26667rem !important
}

.p-l-10 {
    padding-left: .26667rem !important
}

.m-r-10 {
    margin-right: .26667rem !important
}

.p-r-10 {
    padding-right: .26667rem !important
}

.m-t-15 {
    margin-top: .4rem !important
}

.p-t-15 {
    padding-top: .4rem !important
}

.m-b-15 {
    margin-bottom: .4rem !important
}

.p-b-15 {
    padding-bottom: .4rem !important
}

.m-l-15 {
    margin-left: .4rem !important
}

.p-l-15 {
    padding-left: .4rem !important
}

.m-r-15 {
    margin-right: .4rem !important
}

.p-r-15 {
    padding-right: .4rem !important
}

.m-t-20 {
    margin-top: .53333rem !important
}

.p-t-20 {
    padding-top: .53333rem !important
}

.m-b-20 {
    margin-bottom: .53333rem !important
}

.p-b-20 {
    padding-bottom: .53333rem !important
}

.m-l-20 {
    margin-left: .53333rem !important
}

.p-l-20 {
    padding-left: .53333rem !important
}

.m-r-20 {
    margin-right: .53333rem !important
}

.p-r-20 {
    padding-right: .53333rem !important
}

.m-t-25 {
    margin-top: .66667rem !important
}

.p-t-25 {
    padding-top: .66667rem !important
}

.m-b-25 {
    margin-bottom: .66667rem !important
}

.p-b-25 {
    padding-bottom: .66667rem !important
}

.m-l-25 {
    margin-left: .66667rem !important
}

.p-l-25 {
    padding-left: .66667rem !important
}

.m-r-25 {
    margin-right: .66667rem !important
}

.p-r-25 {
    padding-right: .66667rem !important
}

.m-t-30 {
    margin-top: .2rem !important
}

.p-t-30 {
    padding-top: .8rem !important
}

.m-b-30 {
    margin-bottom: .8rem !important
}

.p-b-30 {
    padding-bottom: .8rem !important
}

.m-l-30 {
    margin-left: .8rem !important
}

.p-l-30 {
    padding-left: .8rem !important
}

.m-r-30 {
    margin-right: .8rem !important
}

.p-r-30 {
    padding-right: .8rem !important
}

.m-t-35 {
    margin-top: .93333rem !important
}

.p-t-35 {
    padding-top: .93333rem !important
}

.m-b-35 {
    margin-bottom: .93333rem !important
}

.p-b-35 {
    padding-bottom: .93333rem !important
}

.m-l-35 {
    margin-left: .93333rem !important
}

.p-l-35 {
    padding-left: .93333rem !important
}

.m-r-35 {
    margin-right: .93333rem !important
}

.p-r-35 {
    padding-right: .93333rem !important
}

.m-t-40 {
    margin-top: 1.06667rem !important
}

.p-t-40 {
    padding-top: 1.06667rem !important
}

.m-b-40 {
    margin-bottom: 1.06667rem !important
}

.p-b-40 {
    padding-bottom: 1.06667rem !important
}

.m-l-40 {
    margin-left: 1.06667rem !important
}

.p-l-40 {
    padding-left: 1.06667rem !important
}

.m-r-40 {
    margin-right: 1.06667rem !important
}

.p-r-40 {
    padding-right: 1.06667rem !important
}

.m-t-45 {
    margin-top: 1.2rem !important
}

.p-t-45 {
    padding-top: 1.2rem !important
}

.m-b-45 {
    margin-bottom: 1.2rem !important
}

.p-b-45 {
    padding-bottom: 1.2rem !important
}

.m-l-45 {
    margin-left: 1.2rem !important
}

.p-l-45 {
    padding-left: 1.2rem !important
}

.m-r-45 {
    margin-right: 1.2rem !important
}

.p-r-45 {
    padding-right: 1.2rem !important
}

.m-t-50 {
    margin-top: 1.33333rem !important
}

.p-t-50 {
    padding-top: 1.33333rem !important
}

.m-b-50 {
    margin-bottom: 1.33333rem !important
}

.p-b-50 {
    padding-bottom: 1.33333rem !important
}

.m-l-50 {
    margin-left: 1.33333rem !important
}

.p-l-50 {
    padding-left: 1.33333rem !important
}

.m-r-50 {
    margin-right: 1.33333rem !important
}

.p-r-50 {
    padding-right: 1.33333rem !important
}

.m-t-60 {
    margin-top: 1.6rem !important
}

.p-t-60 {
    padding-top: 1.6rem !important
}

.m-b-60 {
    margin-bottom: 1.6rem !important
}

.p-b-60 {
    padding-bottom: 1.6rem !important
}

.m-l-60 {
    margin-left: 1.6rem !important
}

.p-l-60 {
    padding-left: 1.6rem !important
}

.m-r-60 {
    margin-right: 1.6rem !important
}

.p-r-60 {
    padding-right: 1.6rem !important
}

.m-t-75 {
    margin-top: 2rem !important
}

.p-t-75 {
    padding-top: 2rem !important
}

.m-b-75 {
    margin-bottom: 2rem !important
}

.p-b-75 {
    padding-bottom: 2rem !important
}

.m-l-75 {
    margin-left: 2rem !important
}

.p-l-75 {
    padding-left: 2rem !important
}

.m-r-75 {
    margin-right: 2rem !important
}

.p-r-75 {
    padding-right: 2rem !important
}

.m-t-80 {
    margin-top: 2.13333rem !important
}

.p-t-80 {
    padding-top: 2.13333rem !important
}

.m-b-80 {
    margin-bottom: 2.13333rem !important
}

.p-b-80 {
    padding-bottom: 2.13333rem !important
}

.m-l-80 {
    margin-left: 2.13333rem !important
}

.p-l-80 {
    padding-left: 2.13333rem !important
}

.m-r-80 {
    margin-right: 2.13333rem !important
}

.p-r-80 {
    padding-right: 2.13333rem !important
}

.m-t-85 {
    margin-top: 2.26667rem !important
}

.p-t-85 {
    padding-top: 2.26667rem !important
}

.m-b-85 {
    margin-bottom: 2.26667rem !important
}

.p-b-85 {
    padding-bottom: 2.26667rem !important
}

.m-l-85 {
    margin-left: 2.26667rem !important
}

.p-l-85 {
    padding-left: 2.26667rem !important
}

.m-r-85 {
    margin-right: 2.26667rem !important
}

.p-r-85 {
    padding-right: 2.26667rem !important
}

.m-t-90 {
    margin-top: 2.4rem !important
}

.p-t-90 {
    padding-top: 2.4rem !important
}

.m-b-90 {
    margin-bottom: 2.4rem !important
}

.p-b-90 {
    padding-bottom: 2.4rem !important
}

.m-l-90 {
    margin-left: 2.4rem !important
}

.p-l-90 {
    padding-left: 2.4rem !important
}

.m-r-90 {
    margin-right: 2.4rem !important
}

.p-r-90 {
    padding-right: 2.4rem !important
}

.m-t-95 {
    margin-top: 2.53333rem !important
}

.p-t-95 {
    padding-top: 2.53333rem !important
}

.m-b-95 {
    margin-bottom: 2.53333rem !important
}

.p-b-95 {
    padding-bottom: 2.53333rem !important
}

.m-l-95 {
    margin-left: 2.53333rem !important
}

.p-l-95 {
    padding-left: 2.53333rem !important
}

.m-r-95 {
    margin-right: 2.53333rem !important
}

.p-r-95 {
    padding-right: 2.53333rem !important
}

.m-t-100 {
    margin-top: 2.66667rem !important
}

.p-t-100 {
    padding-top: 2.66667rem !important
}

.m-b-100 {
    margin-bottom: 2.66667rem !important
}

.p-b-100 {
    padding-bottom: 2.66667rem !important
}

.m-l-100 {
    margin-left: 2.66667rem !important
}

.p-l-100 {
    padding-left: 2.66667rem !important
}

.m-r-100 {
    margin-right: 2.66667rem !important
}

.p-r-100 {
    padding-right: 2.66667rem !important
}

.fl {
    float: left
}

.fr {
    float: right
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.c-row {
    display: flex
}

.c-row-middle {
    align-items: center;
    margin-top: 5px;
    color: #fa5a5a;
}

.img-cip img {
    width: 0.66667rem;
    height: 0.42667rem;
    position: absolute;
    bottom: 30px;
    left: 0.38667rem;
}

.c-row-middle-center img {
    width: 1.17333rem;
    height: 1.17333rem;
}

.c-row-center,
.c-row-middle-center {
    justify-content: center
}

.c-row-middle-center {
    align-items: center;
}

.c-column {
    flex-direction: column;
}

.c-row-around {
    justify-content: space-around;
}

.c-row-between {
    justify-content: space-between;
}

.c-flew-end {
    justify-content: flex-end;
}

.c-flex-warp {
    flex-wrap: wrap;
}

.flex-cover {
    flex: 1;
}

.c-pa {
    position: absolute;
}

.c-pr {
    position: relative;
}

.c-pf {
    position: fixed;
}

.c-tc {
    text-align: center;
    letter-spacing: .04em;
}

.c-tr {
    text-align: right;
}

.c-tl {
    text-align: left;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

:not(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    position: relative;
    font-size: .37333rem
}

#app,
.mian {
    width: 100%;
    min-height: 100vh;
}

.mian {
    padding-top: 1.30667rem;
    height: 100%;
    max-width: 10.66667rem;
    margin: 0 auto;
    background: #f7f8ff;

}

.mian.action {
    touch-action: none;
    touch-action: pan-x;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

input[type=number] {
    -moz-appearance: textfield;
}

.van-dialog {
    top: 50% !important;
    width: 8rem !important;
    border-radius: .26667rem !important;
}

.van-dialog__message img {
    width: 100% !important;
}

@media screen and (min-width:800px) {
    html {
        font-size: 2.4rem !important;
        width: 10rem;
        margin: 0 auto;
        background-color: #dadada;
        overflow: hidden;
        width: 100%;
    }

    body,
    html {
        position: relative;
    }

    body {
        overflow-y: scroll;
        width: 100%;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .mian,
    .nav,
    .navbar,
    .van-tabbar {
        width: 10rem !important;
    }
}

.menu_container[data-v-7b9b9922] {
    width: 1.46667rem;
    height: 1.46667rem;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    transition-duration: .4s;
    text-align: center;
}

.menu_item[data-v-7b9b9922] {
    position: absolute;
    border-radius: 50%;
    z-index: 99;
    padding: .02667rem;
    text-align: center;
}

img[data-v-7b9b9922] {
    width: 100%;
    display: block;
}

.item[data-v-7b9b9922] {
    width: 1.33333rem;
    height: 1.33333rem;
}

.nav {
    bottom: 0;
    position: fixed;
    touch-action: none;
}

.nav,
.van-tabbar {
    width: 100%;
    height: 1.46667rem;
    max-width: 10.66667rem;
    z-index: 999;
}

.van-tabbar {
    background-color: #fff;
    left: auto !important;
}

.van-tabbar .van-icon {
    font-size: .69333rem;
}

.van-tabbar .van-tabbar-item__icon {
    margin-bottom: 0 !important;
}

.van-tabbar .van-tabbar-item {
    font-size: .34667rem;
    color: #303133;
    text-align: center;
}

.van-tabbar .name {
    display: block;
    width: 100%;
}

.van-tabbar .name.action {
    display: block;
    width: 100%;
    color: #f2413b;
}

.van-tabbar .van-tabbar-item.van-tabbar-item--active {
    color: #f2413b;
}

.van-tabbar .muan {
    background-color: #fff;
    padding: .13333rem;
    height: 1.33333rem;
    width: 1.33333rem;
    border-radius: 1.33333rem;
    margin: -.64rem auto .10667rem;
    position: relative;
    z-index: 99
}

.van-tabbar img {
    height: .66667rem;
    width: .66667rem;
    display: block;
    margin: 0 auto .10667rem
}

.van-tabbar img.img {
    height: 1.06667rem;
    width: 1.06667rem;
    display: block
}

.c-box {
    position: absolute;
    bottom: 2.66667rem;
    right: .26667rem;
    z-index: 9999
}

.activityBox {
    width: 1.6rem;
    height: 1.6rem
}

.activityBox.serveBox {
    right: .4rem;
    width: 1.46667rem
}

.activityBox.longBox {
    background-color: #fff;
    width: 1.46667rem;
    height: 1.46667rem;
    color: #fff;
    border-radius: 1.46667rem;
    overflow: hidden;
    font-size: .42667rem;
    box-shadow: 0 .02667rem .48rem 0 rgba(203, 202, 220, .56)
}

.longBox {
    position: relative
}

.Recharge__content-quickInfo[data-v-ef8af226] {
    margin-bottom: 0.53333rem;
}

.boxStyle[data-v-ef8af226] {
    background: #ffffff;
    box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
    border-radius: 0.26667rem;
    margin-top: 10px;
    padding: 0.4rem 0.29333rem 0.42667rem 0.26667rem;
    margin-bottom: 20px;
}

.van-image__img{
    display: inline!important;
}

.Recharge__content-quickInfo__title[data-v-ef8af226] {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0.34667rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.Recharge__content-quickInfo__title .title[data-v-ef8af226] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-weight: 400;
    font-size: .42667rem;
    color: #151515;
}

.Recharge__content-quickInfo__title .title img[data-v-ef8af226] {
    width: 0.64rem;
    height: 0.64rem;
    margin-right: 0.30667rem;
}

.Recharge__content-quickInfo .rechargeTypes_list[data-v-ef8af226] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0.26667rem;
}

.Recharge__content-quickInfo .item_active[data-v-ef8af226] {
    background: -webkit-linear-gradient(left, #ff918b 0%, #ffc0a1 102.93%);
    background: linear-gradient(90deg, #ff918b 0%, #ffc0a1 102.93%);
}

.Recharge__content-quickInfo__item[data-v-ef8af226] {
    max-width: 98%;
    border-radius: 0.26667rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-bottom: 0.26667rem;
    background: #e1e1e1;
}

.Recharge__content-quickInfo .item_active div[data-v-ef8af226] {
    color: #fff;
}

.Recharge__content-quickInfo__item .other[data-v-ef8af226] {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 100%;
    padding: 0.26667rem 0.34667rem;
    line-height: 1.5;
}

.Recharge__content-quickInfo__item div[data-v-ef8af226] {
    font-size: .37333rem;
    color: #666;
}

.money {
    margin: 0.10667rem 0;
    font-size: .64rem;
    line-height: .64rem;
    color: #fff;
}

.cercle {
    border: 9px solid;
    padding: 30px 0px;
    border-radius: 63px;
    width: 100px;
    color: rgb(216, 216, 216);
    margin-left: 31px;
    margin-bottom: 10px;
}

.cercle h5 {
    color: #323233;
    font-weight: bold;
    font-size: 16px;
}

.item h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: 17px;
    color: #333;
}

.item span {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: .46667rem;
    letter-spacing: .04em;
    font-size: .32rem;
    text-align: center;
}

.imgD {
    width: 1.30667rem;
    height: 1.30667rem;
    border-radius: 0.4rem;
    background: #ffffff;
    box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-bottom: 0.13333rem;
    width: 55px;
}

.gameList {
    display: flex;
    margin-bottom: 10px;
}

.box-imgD {
    width: 21%;
}

.box-money {
    /* border-radius: 5px;
    box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c; */

    /* height: 80px;
    background-color: white; */
    /* width: 34%; */

    text-align: center;
    width: 31%;
    min-height: 2.13333rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c;
    border-radius: 0.13333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 0.13333rem;
    padding: 0 0.2rem;
}

.box1 {
    margin-right: 5px;
}

.box2 {
    margin: 0px 5px;
}

.box3 {
    margin-left: 5px;
}

.box-money h3 {
    font-size: .35rem;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    font-family: Inter;
    font-style: normal;
    line-height: .46667rem;
    letter-spacing: .04em;
    color: #333;
}

.imgD img {
    width: 0.85333rem;
    height: auto;
}

.userDetail {
    justify-content: space-around;
    margin-top: 27px;
}

.activityBox.longBox .img {
    width: 1.46667rem
}

.activityBox.longBox1 {
    background-color: #fff;
    width: 1.46667rem;
    height: 1.46667rem;
    overflow: hidden;
    color: #fff;
    border-radius: 1.46667rem;
    font-size: .42667rem;
    box-shadow: 0 .02667rem .48rem 0 rgba(203, 202, 220, .56)
}

.activityBox.longBox1 .img,
.serveBox .img {
    width: 1.46667rem
}

.serveBox .img {
    height: 1.46667rem;
    border-radius: 1.46667rem;
    background-color: #fff;
    box-shadow: 0 .02667rem .48rem 0 rgba(203, 202, 220, .56)
}

.activityBox .img {
    width: 1.46667rem
}

.activityBox .img,
.serveBox .img {
    -webkit-animation: stepHome 3s infinite alternate;
    animation: stepHome 3s infinite alternate
}

.toggle_menu_container {
    height: 1.46667rem;
    width: 1.46667rem;
    border-radius: 1.46667rem;
    background-color: #fff;
    box-shadow: 0 .02667rem .48rem 0 rgba(203, 202, 220, .56);
    position: relative
}

.navbar[data-v-106b99c8] {
    width: 100%;
    max-width: 10.66667rem;
    top: 0;
    height: 1.33333rem;
    line-height: 1.33333rem;
    /* background-image: linear-gradient(90deg, #cd0103, #f64841); */
    background: linear-gradient(90deg, rgb(249, 89, 89) 0%, rgb(255, 154, 142) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: #fff;
    z-index: 999
}

.navbar.action[data-v-106b99c8] {
    background: url(../img/header.496d8f96.png);
    background-size: cover
}

.navbar-title[data-v-106b99c8] {
    font-size: 0.53333rem;
    flex: 1;
    text-align: center;
    color: #fff;
    letter-spacing: .04em;
}

.navbar .bank[data-v-106b99c8] {
    width: .69333rem;
    height: .69333rem;
    border-radius: .69333rem
}

.navbar-left[data-v-106b99c8],
.navbar-right[data-v-106b99c8] {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 1.33333rem;
    padding: 0 .26667rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.navbar-left[data-v-106b99c8] {
    left: 0
}

.navbar-right[data-v-106b99c8] {
    right: 0
        /* left: 0; */
}

.navbar-right span {
    color: #333;
    letter-spacing: .04em;
}

.navbar-icon[data-v-106b99c8] {
    height: 1.2rem
}

.navbar-back[data-v-106b99c8] {
    width: .59333rem;
    height: .59333rem
}

.txt img {
    width: 0.4rem;
    height: 0.4rem;
}

.add-account {
    height: 100px;
}

.addWithdrawType-text {
    color: #ff7172;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: .04em;
    line-height: 20px;
}

.enter-amount {
    padding: 15px 10px;
}

.c-row-midd {
    padding-left: 15px;
    padding-right: 5px;
    font-weight: 100;
    font-size: 20px;
    color: #c7c7c7;
}

.balance-bank[data-v-25d9c352] {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 0.26667rem;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 0.06667rem;
    margin-bottom: 30px;
}

.balance-bank [data-v-25d9c352] {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0.06667rem 0;
    -webkit-box-align: center;
    align-items: center;
}

.balance-bank span[data-v-25d9c352] {
    text-align: left;
}

h6.red[data-v-25d9c352] {
    color: #ff7172;
    font-size: 12px;
}

.balance-bank input[data-v-25d9c352] {
    border: 0.01333rem solid #fa5a5a;
    border-radius: 0.13333rem;
    width: 42%;
    height: 0.48rem;
    line-height: .29333rem;
    background: none;
    color: #ff7172;
    justify-content: center;
}

.rightWD {
    display: flex;
    width: 100%;
}

.balance-bank .rightD[data-v-25d9c352] {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    font-size: .4rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
}

span.yellow,
h6.yellow[data-v-25d9c352] {
    color: #ff7f22;
}

.balance-bank[data-v-25d9c352] {
    color: #888;
}

.balance-wd h6 {
    margin-right: 100px;
}

.boxBank {
    margin-top: -35px;
}

.withdraw__container-content[data-v-f717476b] {
    border-radius: 0.26667rem;
    width: 100%;
    margin-bottom: 0.4rem;
}

.Recharge__container-intro[data-v-f717476b] {
    border-radius: 0 0 0.26667rem 0.26667rem;
    margin-top: -0.06667rem;
    background: #ffffff;
    border-radius: 0.26667rem;
    padding: 0.33333rem 0.26667rem;
    border: 0.01333rem solid #d6d6d6;
    border-radius: 20px;
    padding: 0.18667rem 0.22667rem 0.48rem 0.4rem;
}

.gift {
    width: 0.94667rem;
    height: 0.85333rem;
    position: absolute;
    right: 0.05333rem;
    text-align: right;
    top: 0;
    background: url('/src/public/images/gift-55dc786a.png') no-repeat center center;
    background-size: 0.94667rem auto;
}

.gift span {
    display: block;
    color: #fff;
    font-size: .29333rem;
    letter-spacing: -.01173rem;
    text-align: center;
    padding-top: 0.32rem;
}

.Recharge__content-paymoney__money-list[data-v-ef8af226] {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.26667rem;
    width: 108%;
}

.Recharge__content-paymoney__money-list__item[data-v-ef8af226] {
    margin-bottom: 0.26667rem;
    margin-right: 0.4rem;
    width: 28%;
    height: 0.93333rem;
    color: #ff5a58;
    border: 0.01333rem solid #dfdede;
    border-radius: 0.13333rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    font-size: .42667rem;
}

.Recharge__content-paymoney__money-list__item span[data-v-ef8af226] {
    position: absolute;
    left: 0.21333rem;
    top: 20%;
    color: #bababa;
    font-size: .42667rem;
}

.withdraw__container[data-v-f717476b] {
    text-align: center;
    letter-spacing: .04em;
    color: #666;
}

.Recharge__container-intro p[data-v-ab80172e] {
    text-align: left;
    position: relative;
    padding-left: 0.33333rem;
    font-weight: 400;
    font-size: 13px;
    color: #666;
    line-height: .53333rem;
    margin: 0.2rem 0;
    letter-spacing: 1px;
}

.Recharge__container-intro p[data-v-ab80172e] span {
    color: #fa5a5a;
}

.Recharge__container-intro p[data-v-ab80172e]:after {
    position: absolute;
    content: "";
    width: 0.13333rem;
    height: 0.13333rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fa5a5a;
    left: -0.06667rem;
    top: 0.18667rem;
}

.withdraw__container-content[data-v-f717476b] {
    border-radius: 0.26667rem;
    width: 100%;
    margin-bottom: 0.4rem;
}

.rechargeh__container[data-v-fda53fc1] {
    margin-top: 0.8rem;
    font-family: bahnschrift;
    margin-left: 15px;
    margin-right: 15px;
}

.rechargeh__container-head[data-v-fda53fc1] {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.rechargeh__container-head img[data-v-fda53fc1] {
    width: 0.64rem;
    height: auto;
    margin-right: 0.2rem;
}

.rechargeh__container-head h1[data-v-fda53fc1] {
    font-family: Inter;
    font-style: normal;
    color: #151515;
    font-weight: 600;
    font-size: .42667rem;
}

.rechargeh__container-content[data-v-fda53fc1] {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 0.26667rem;
    margin-top: 0.26667rem;
    margin-bottom: 0.4rem;
}

.empty__container[data-v-91f2fefc] {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.empty__container img[data-v-91f2fefc] {
    width: 4rem;
    height: 3.71427rem;
    margin-bottom: 0.24667rem;
}

.empty__container p[data-v-91f2fefc] {
    color: #acafc2;
    font-size: .34667rem;
}

.rechargeh__container-footer button[data-v-fda53fc1] {
    border: 0.01333rem solid #fa5a5a;
    border-radius: 1.06667rem;
    height: 0.93333rem;
    width: 100%;
    background: none;
    color: #fa5a5a;
    font-size: .4rem;
}

.mian .selectBox .txtBox[data-v-25d9c352] {
    z-index: 99;
    height: 4.33333rem;
    margin-top: -.8rem;
    border-radius: 10px;
    padding: .4rem .53333rem 0;
    position: relative;
    margin: 0px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.mian .selectBox .number-box .input[data-v-25d9c352] {
    font-size: 17px;
    background: 0 0 !important;
    font-weight: 100;
}

.van-cell {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    color: #323233;
    font-size: .37333rem;
    line-height: .64rem;
    background-color: #fff
}

.van-field__value {
    overflow: visible
}

.van-cell__value--alone {
    color: #323233;
    text-align: left
}

.van-cell__value {
    position: relative;
    overflow: hidden;
    color: #969799;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word
}

.van-cell__title,
.van-cell__value {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.van-field__body {
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.van-field__control {
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
    color: #323233;
    line-height: inherit;
    text-align: left;
    background-color: transparent;
    border: 0;
    resize: none
}

.van-field__control::-webkit-input-placeholder {
    color: #c8c9cc
}

.van-field__control::placeholder {
    color: #c8c9cc
}

.van-field__control:disabled {
    color: #c8c9cc;
    background-color: transparent;
    cursor: not-allowed;
    opacity: 1;
    -webkit-text-fill-color: currentColor
}

.van-field__control:read-only {
    cursor: default
}

.van-field__control--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center
}

.van-field__control--right {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    text-align: right
}

.van-field__control--custom {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: .64rem
}

.van-field__control[type=date],
.van-field__control[type=datetime-local],
.van-field__control[type=time] {
    min-height: .64rem
}

.van-field__control[type=search] {
    -webkit-appearance: none
}

.place-right img{
    width: 25%;
    margin-top: 10px;
    margin-left: 70px;
}

.Recharge__container-rechageBtn[data-v-50e7cf55] {
    font-size: .4rem;
    z-index: 88;
    background: #cbcddc;
    width: 100%;
    max-width: 10rem;
    height: 0.93333rem;
    line-height: .93333rem;
    color: #fff;
    text-align: center;
    border-radius: 0.66667rem;
    margin-bottom: 0.4rem;
}

.Recharge__container-intro[data-v-5226e844] {
    background: #ffffff;
    border-radius: 0.26667rem;
    padding: 0.33333rem 0.26667rem;
}

.Recharge__container-intro__title[data-v-5226e844] {
    font-weight: 600;
    font-size: .4rem;
    margin-bottom: 0.33333rem;
    display: flex;
}

.Recharge__container-intro__title img[data-v-5226e844] {
    width: 0.64rem;
    height: 0.64rem;
    margin-right: 0.16rem;
}

.Recharge__container-intro__lists[data-v-5226e844] {
    border: 0.01333rem solid #d6d6d6;
    border-radius: 0.26667rem;
    padding: 0.18667rem 0.22667rem 0.48rem 0.4rem;
}

.Recharge__container-intro__lists .item[data-v-5226e844] {
    margin-top: 0.26667rem;
}

.Recharge__container-intro__lists .item p[data-v-5226e844] {
    text-align: left;
    position: relative;
    padding-left: 0.33333rem;
    font-weight: 400;
    font-size: .32rem;
    color: #666;
    line-height: .53333rem;
    margin: 0.2rem 0;
}

.Recharge__container-intro__lists .item p[data-v-5226e844]:after {
    position: absolute;
    content: "";
    width: 0.13333rem;
    height: 0.13333rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #fa5a5a;
    left: -0.06667rem;
    top: 0.18667rem;
}

.mian .selectBox .number-box[data-v-25d9c352] {
    padding: 0 .53333rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    border-bottom: .02667rem solid #f6f6f6;
    font-size: .66667rem;
    font-weight: 600;
    background-color: #f2f2f2;
    border-radius: 25px
}

.box-price{
    background: #fff;
    box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
    border-radius: 0.26667rem;
    margin-top: 0.26667rem;
    padding: 0.4rem 0.29333rem 0.42667rem 0.26667rem;
    margin-bottom: 0.4rem;
}

.mian .selectBox .txtBox .txt[data-v-25d9c352] {
    color: #fff;
    font-weight: 400;
    font-size: .34667rem;
    line-height: .53333rem;
    letter-spacing: .9px;
}

.mian .selectBox .txtBox .money[data-v-25d9c352] {
    color: #fff;
    font-weight: 600;
    margin-left: .13333rem;
    font-size: .64rem;
    text-align: center
}

.van-image {
    position: relative;
    display: inline-block
}

.van-image__error,
.van-image__img,
.van-image__loading {
    display: block;
    height: 0.37333rem;
    margin-top: 4px;
}

.mian .selectBox .tab[data-v-25d9c352] {
    padding: .13333rem .4rem 0;
    border-top: .02667rem solid #f6f6f6
}

.mian .selectBox .tab .box[data-v-25d9c352] {
    width: 100%
}

.mian .selectBox .tab .box ul[data-v-25d9c352] {
    width: calc(100% + .26667rem)
}

.mian .selectBox .tab .box ul li.item.action[data-v-25d9c352] {
    background: linear-gradient(90deg, #ff8e8a 0%, #ffbfa0 100%);
    color: #fff;
    padding: 12px 10px;
}

.mian .selectBox .tab .box ul li.item[data-v-25d9c352] {
    padding: .21333rem;
    width: calc(33.3% - .26667rem);
    border-radius: .13333rem;
    white-space: nowrap;
    background-color: #fff;
    margin-bottom: .26667rem;
    margin-right: .26667rem;
    position: relative;
    box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c, inset 0 -0.05333rem 0.13333rem #fff6f4;
}

.mian .selectBox .tab .box ul li.item .icon[data-v-25d9c352] {
    height: .8rem;
    width: .8rem;
    border-radius: .8rem;
    margin: 6px auto
}

.mian .selectBox .tab .box ul li.item .icon .size[data-v-25d9c352] {
    font-size: .53333rem;
    color: #333
}

.mian .selectBox .tab .box ul li.item .name[data-v-25d9c352] {
    text-align: center
}

.Loading[data-v-7692a079] {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 99999
}

.pw-input[data-v-d8986e5e] {
    width: 100%;
    height: 100%
}

.bank[data-v-a0753f48] {
    border-radius: .69333rem
}

.bank .navbar-back[data-v-a0753f48],
.bank[data-v-a0753f48] {
    width: .69333rem;
    height: .69333rem
}

.mian[data-v-a0753f48] {
    min-height: 100vh;
    background-color: #fbfcfd
}

.mian .audio[data-v-a0753f48] {
    width: .66667rem;
    height: .66667rem
}

.mian.login[data-v-a0753f48] {
    padding-top: 0
}

.mian .login-banner[data-v-a0753f48] {
    position: relative;
    background: url(../img/login_banner.34f15f30.png) no-repeat top;
    background-size: 100% 100%;
    min-height: 6.4rem;
    max-height: 6.66667rem
}

.mian .login-banner .bankPage[data-v-a0753f48] {
    height: 1.33333rem;
    width: 1.33333rem
}

.mian .login-banner .bankPage .bank[data-v-a0753f48] {
    border: .05333rem solid #fff;
    width: .69333rem;
    height: .69333rem;
    border-radius: .69333rem
}

.mian .login-banner .logo[data-v-a0753f48] {
    position: absolute;
    top: 50%;
    margin-top: -.53333rem;
    right: .4rem;
    width: 3.2rem;
    height: 1.06667rem
}

.mian .login-box[data-v-a0753f48] {
    position: relative;
    z-index: 9;
    padding: .66667rem .8rem;
    border-radius: .53333rem .53333rem 0 0;
    margin-top: -.53333rem;
    background-color: #fff
}

.mian .login-box .tit[data-v-a0753f48] {
    text-align: center;
    font-size: .8rem;
    color: #670001
}

.mian .forgot-box[data-v-a0753f48] {
    width: 100%;
    padding: .13333rem .8rem .8rem;
    background-color: #fff;
    border-top-left-radius: .66667rem;
    border-top-right-radius: .66667rem;
    position: relative
}

.mian-from[data-v-a0753f48] {
    margin-top: .4rem
}

.mian-from .lab[data-v-a0753f48] {
    font-size: .37333rem;
    color: #959595
}

.mian-from .tip[data-v-a0753f48] {
    margin: -.53333rem 0 .26667rem;
    font-size: .34667rem;
    color: #333
}

.mian-from .item[data-v-a0753f48] {
    position: relative;
    height: 1.06667rem;
    line-height: .96rem;
    margin: .4rem 0 .8rem;
    border: .05333rem solid #faa09d;
    border-radius: .21333rem;
    overflow: hidden;
    padding-left: .88rem
}

.mian-from .item .pwd[data-v-a0753f48] {
    font-size: .32rem
}

.mian-from .item.first[data-v-a0753f48] {
    padding-left: 1.6rem
}

.mian-from .item .img[data-v-a0753f48] {
    position: absolute;
    left: .26667rem;
    top: 50%;
    transform: translateY(-50%)
}

.mian-from .item .mobile[data-v-a0753f48] {
    height: .53333rem;
    width: .37333rem
}

.mian-from .item .password[data-v-a0753f48] {
    height: .48rem;
    width: .42667rem
}

.mian-from .item .code[data-v-a0753f48] {
    height: .4rem;
    width: .48rem
}

.mian-from .item .number[data-v-a0753f48] {
    position: absolute;
    left: .26667rem;
    font-style: normal;
    font-size: .4rem;
    line-height: .96rem;
    padding-right: .08rem;
    color: #f4453f
}

.mian-from .item input[data-v-a0753f48] {
    border: none;
    width: 100%;
    height: .96rem;
    font-size: .4rem
}

.mian-from .item .otp[data-v-a0753f48] {
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: .37333rem;
    height: .96rem;
    border-radius: .13333rem;
    width: 1.86667rem;
    text-align: center;
    line-height: .96rem;
    background-color: #ffebeb;
    border-color: #ffebeb !important;
    color: #000
}

.mian-from .agree[data-v-a0753f48] {
    line-height: .53333rem;
    height: .53333rem;
    color: #000;
    font-size: .4rem
}

.mian-from .txt[data-v-a0753f48] {
    font-size: .4rem;
    color: #f4453e
}

.mian-from .mian-btn .gradient[data-v-a0753f48] {
    width: 65%;
    margin: 0 auto;
    box-shadow: 0 0 .21333rem .02667rem rgba(92, 186, 71, .72);
    border-radius: 1.06667rem;
    height: 1.06667rem
}

.mian-from .mian-btn .gradient span[data-v-a0753f48] {
    font-size: .53333rem
}

.mian-from .mian-btn .text[data-v-a0753f48] {
    height: .53333rem;
    line-height: .53333rem;
    font-size: .4rem;
    color: #f4453f
}

.mian .AreaCode-box[data-v-a0753f48] {
    padding: .26667rem .4rem;
    border-bottom: .02667rem solid #eee
}

.mian .AreaCode-box .item .img[data-v-a0753f48] {
    display: block
}

.mian .AreaCode-box .item .right .chek[data-v-a0753f48] {
    height: .53333rem;
    width: .53333rem;
    line-height: .53333rem;
    text-align: center;
    border-radius: .53333rem;
    border: .05333rem solid #eee
}

.mian .AreaCode-box .item .right .chek.action[data-v-a0753f48] {
    background-color: #f2413b;
    border: .05333rem solid #f2413b
}

.msg[data-v-1dcba851] {
    max-width: 12.8rem;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000
}

.msg .msg-content[data-v-1dcba851] {
    position: relative;
    padding: .32rem .66667rem;
    text-align: center;
    line-height: .64rem;
    word-break: break-all;
    overflow: hidden;
    font-size: .37333rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .8)
}

.v-enter[data-v-1dcba851],
.v-leave-to[data-v-1dcba851] {
    opacity: 0
}

.v-enter-active[data-v-1dcba851] {
    transition: opacity .5s;
    animation: bounce-in-data-v-1dcba851 .5s
}

.v-leave-active[data-v-1dcba851] {
    transition: opacity .3s;
    animation: bounce-in-data-v-1dcba851 .5s reverse
}

@keyframes bounce-in-data-v-1dcba851 {
    0% {
        transform: scale(.4)
    }

    50% {
        transform: scale(1.03)
    }

    to {
        transform: scale(1)
    }
}