.list[data-v-21f3500a] {
    margin: 20px;
    /* border-radius: 10px; */
    /* margin-top: .53333rem; */
    /* background: var(--primary2clr); */
    /* box-shadow: 0 .05333rem .21333rem #d0d0ed5c; */
}

.list .item[data-v-21f3500a] {
    padding: .37333rem .26667rem .37333rem .37333rem;
    height: 1.43333rem;
    line-height: 1.23333rem;
    background: #fff;
    border-radius: 10px;
    font-size: .4rem;
    margin: 10px 0px;
    color: #666666;
    box-shadow: 0 .05333rem .21333rem #d0d0ed5c;
    border-bottom: .02667rem solid #efeeee
}

.list .item .img[data-v-21f3500a] {
    display: block;
    width: .64rem;
    height: .66667rem
}

.list .item .img.mobile[data-v-21f3500a] {
    height: .64rem;
    width: .48rem;
    margin-left: .05333rem;
    margin-right: .10667rem
}

.list .item .icon[data-v-21f3500a] {
    height: .8rem;
    width: .8rem;
    background-color: #f5f3fb;
    border-radius: .8rem
}

.list .item .name[data-v-21f3500a] {
    font-size: .34333rem;
    padding-left: .26667rem
}

.list .item[data-v-21f3500a]:last-child {
    border-bottom: none
}

.mian .menu-box .nav-muen .item[data-v-8cd483ca] {
    width: 100%;
    background: #fff;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    height: 1.8rem;
    padding: 11px 10px;
    font-size: 9px;
    box-shadow: 0 .05333rem .21333rem #d0d0ed5c;
}

.mian[data-v-7c8bbbf4] {
    padding-bottom: 1.86667rem;
    background-color: #f7f8ff
}

.mian .head-right[data-v-7c8bbbf4] {
    border-radius: .26667rem;
    background: rgba(120, 11, 14, .24)
}

.mian .promotion[data-v-7c8bbbf4] {
    /* padding-top: 1.06667rem; */
    padding-bottom: .53333rem
}

.mian .promotion .tab[data-v-7c8bbbf4] {
    background-color: #fff;
    height: 1.06667rem;
    line-height: 1.06667rem;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    top: 1.33333rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 10rem
}

.mian .promotion .tab ul li[data-v-7c8bbbf4] {
    width: 25%;
    text-align: center;
    font-size: .4rem;
    color: #333
}

.mian .promotion .tab ul li.action[data-v-7c8bbbf4] {
    color: #df3832
}

.mian .promotion .tit[data-v-7c8bbbf4] {
    background: #f4f4f4;
    padding: 0 .4rem;
    height: .90667rem;
    line-height: .90667rem;
    color: #333
}

.mian .promotion .tit .btn[data-v-7c8bbbf4] {
    padding: 0 .21333rem;
    margin-top: .10667rem;
    background: #e42622;
    box-shadow: 0 .10667rem .53333rem .05333rem rgba(228, 38, 34, .25);
    border-radius: .21333rem;
    height: .69333rem;
    color: #fff
}

.mian .promotion .info[data-v-7c8bbbf4] {
    /* padding: .26667rem .4rem */
}

.mian .promotion .info-data {
    text-align: center;
    width: 100%;
    padding: .26667rem 0;
    background-image: url('/img/images/promotionbg-9dcd78e9.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgb(249, 89, 89);
    height: 5.999rem;
    color: #fff;
}

.mian .promotion .info-data .info-data-content b {
    font-size: 20px;
}
.mian .promotion .info-data .info-data-content p{
/* font-size: 13px; */
background-color: #ff8d8d;
border-radius: 20px;
padding: 3px 2px;
width: 60%;
margin:10px auto;
}
.mian .promotion .info-data .info-data-content span{
    font-size: 11px;
    
    }

.mian .promotion .info-data .info-content {
    width: 100%;
    padding: 10px;
}
.mian .promotion .info-data .info-content .info-heading{
    width: 100%;
    height: 1.06667rem;
    line-height: 1.06667rem;
    background-color: #f6f6f6;
    display: flex;
    color: #333;
 /* padding: 6px 3px; */
}
.mian .promotion .info-data .info-content .info-heading img{
    height: 25px;
    margin: 8px;
    
}

.mian .promotion .info-data .info-content .left[data-v-7c8bbbf4] {
    text-align: center;
    /* padding: .26667rem 0; */
    width: 50%;
    background: rgb(255, 255, 255);
    border-right: .01rem solid #f6f6f6;
    border-top-left-radius: .26667rem;
    border-bottom-left-radius: .26667rem;
    box-shadow: rgba(208, 208, 237, 0.36) 0px 0.10667rem 0.21333rem;
}

.mian .promotion .info-data .left .all[data-v-7c8bbbf4] {
    font-size: .4rem
}

.mian .promotion .info-data .left .num[data-v-7c8bbbf4] {
    font-size: .53333rem;
    padding: .13333rem 0;
    color: #df3832;
    font-weight: 600
}

.mian .promotion .info-data .left .txt[data-v-7c8bbbf4] {
    color: #888;
    font-size: .29333rem;
    line-height: .48667rem
}

.mian .promotion .info-data .right[data-v-7c8bbbf4] {
    width: 50%;
    /* padding: .26667rem 0 .26667rem .26667rem; */
    background: rgb(255, 255, 255);
    border-left: .01rem solid #f6f6f6;
    border-top-right-radius: .26667rem;
    border-bottom-right-radius: .26667rem;
    box-shadow: rgba(208, 208, 237, 0.36) 0px 0.10667rem 0.21333rem;
}

.mian .promotion .info-data .right .txt[data-v-7c8bbbf4] {
    color: #888;
    font-size: .29333rem;
    line-height: .48667rem
}

.mian .promotion .info-data .right .txt .num[data-v-7c8bbbf4] {
    color: #df3832;
    letter-spacing: 0;
    font-weight: 600
}

.mian .promotion .info-img .img[data-v-7c8bbbf4] {
    width: 40%
}

.mian .promotion .info-img .img-box[data-v-7c8bbbf4],
.mian .promotion .info-img .img[data-v-7c8bbbf4] img {
    width: 100%
}

.mian .promotion .info-img .btn-list[data-v-7c8bbbf4] {
    width: 50%
}

.mian .promotion .info-img .btn-list .btn-box[data-v-7c8bbbf4] {
    width: 90%
}

.mian .promotion .info-img .btn-list .btn[data-v-7c8bbbf4] {
    height: .93333rem;
    background: linear-gradient(180deg,#ff867a 0%,#f95959 100%);
    box-shadow: 0 .05333rem #e74141;
    text-shadow: 0 .05333rem .02667rem rgba(231,65,65,.5);
    border-radius: 99rem;
    color: #fff;
    font-size: .4rem;
    
}

.mian .promotion .table[data-v-7c8bbbf4] {
    margin: .4rem .4rem 0;
    /* background: #fff; */
    /* box-shadow: 0 .13333rem .29333rem .02667rem rgba(0, 0, 0, .12); */
    border-radius: .10667rem;
    overflow-y: auto
}

.mian .promotion .table .box[data-v-7c8bbbf4] {
    min-width: 10.66667rem
}

.mian .promotion .table .box .fw[data-v-7c8bbbf4] {
    font-weight: 600
}

.mian .promotion .table .hd[data-v-7c8bbbf4] {
    background: #fff;
    border-radius: .10667rem;
    height: 1.23333rem;
    line-height: 1.23333rem;
    box-shadow: 0 .10667rem .21333rem #d0d0ed5c;
}

.mian .promotion .table .hd.dl[data-v-7c8bbbf4] {
    height: 1.06667rem;
    line-height: .53333rem
}

.mian .promotion .table .hd .txt[data-v-7c8bbbf4] {
    font-size: .32rem
}

.mian .promotion .table .bd[data-v-7c8bbbf4] {
    height: .93333rem;
    line-height: .93333rem
}

.mian .promotion .team[data-v-7c8bbbf4] {
    padding: 0 .4rem;
    margin-top: .4rem;
    color: #333;
    font-size: .37333rem;
    line-height: .66667rem;
    position: relative
}

.mian .promotion .team .xin[data-v-7c8bbbf4] {
    position: absolute;
    top: .13333rem;
    left: .4rem;
    font-size: .8rem;
    color: #e42622
}

.mian .promotion .team .txt[data-v-7c8bbbf4] {
    text-indent: 1em
}

.mian .promotion .vip[data-v-7c8bbbf4] {
    padding: 0 .53333rem;
    border: .05333rem solid #e42622;
    border-radius: .74667rem;
    height: 1.06667rem
}

.mian .promotion .award[data-v-7c8bbbf4] {
    padding: .26667rem .4rem
}

.mian .promotion .award .txt[data-v-7c8bbbf4] {
    line-height: .66667rem;
    margin-bottom: .13333rem
}

.mian .picker[data-v-7c8bbbf4] {
    padding: .53333rem 0 .4rem
}

.mian .picker .item[data-v-7c8bbbf4] {
    flex: 0 1 33.5%;
    height: 1.06667rem;
    line-height: 1.06667rem;
    border: .02667rem solid #eee;
    margin-bottom: -.02667rem;
    margin-right: -.02667rem;
    text-align: center
}