
/* Module.css */
.van-tabbar {
    z-index: var(--van-tabbar-z-index);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 70px;
    /* background: var(--van-tabbar-background) */
    background-image: url('/img/Home/tabBarBg-0d05851f.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.van-tabbar--fixed {
    position: fixed;
    bottom: 0;
    left: 0
}

/* home/App .css */
@media screen and (min-width:800px) {
.mian,
.nav,
.navbar,
.van-tabbar {
    width: 10rem !important
}
}
.nav {
    bottom: 0;
    position: fixed;
    touch-action: none
}


.nav,
.van-tabbar {
    width: 100%;
    height: 17px;
    max-width: 10.66667rem;
    z-index: 999
}

.van-tabbar {
    background-color: #fff;
    left: auto !important
}

.van-tabbar .van-icon {
    font-size: .69333rem
}

.van-tabbar .van-tabbar-item__icon {
    margin-bottom: 0 !important
}

.van-tabbar .van-tabbar-item {
    font-size: .34667rem;
    color: #303133;
    text-align: center
}

.van-tabbar .name {
    display: block;
    width: 100%
}

.van-tabbar .name.action {
    display: block;
    width: 100%;
    color: #f2413b
}

.van-tabbar .van-tabbar-item.van-tabbar-item--active {
    color: #f2413b
}

.van-tabbar .muan {
    background: linear-gradient(180deg,#ff5f5e 0%,#f64646 100%),linear-gradient(0deg,#ffffff,#ffffff);
    padding: .00133rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1.33333rem;
    margin: -.64rem auto .10667rem;
    position: relative;
    z-index: 99;
    border: 0.06312rem solid #fff;
}

.van-tabbar img {
    height: .66667rem;
    width: .66667rem;
    display: block;
    margin: 0 auto .10667rem
}

.van-tabbar img.img {
    height: 1.25rem;
    width: 1.25rem;
    display: block
}